{{#liquid-if isEditing use='crossFade'}}

  {{partial "stores/form"}}
  <button {{action 'destroy' model}}>Delete</button>

{{else}}

  {{#if model.url}}
    <a href="{{model.url}}">
      <div><b>{{model.name}}</b></div>
      <div class="street-address">
        <i>{{model.address_1}}</i>
      </div>
      <div>
        <i>{{model.city}}, {{model.state}}</i>
      </div>
    </a>
  {{else}}
    <div><b>{{model.name}}</b></div>
    <div class="street-address">
      <i>{{model.address_1}}</i>
    </div>
    <div>
      <i>{{model.city}}, {{model.state}}</i>
    </div>
  {{/if}}

  {{#if session.isAdmin}}
    <span {{action 'editShop'}}>edit</span>
  {{/if}}

{{/liquid-if}}
