{{#if store.url}}
  <a href="{{store.url}}">
    <div><b>{{store.name}}</b></div>
    <div class="street-address">
      <i>{{store.address_1}}</i>
    </div>
    <div>
      <i>{{store.city}}, {{store.state}}</i>
    </div>
  </a>
{{else}}
  <div><b>{{store.name}}</b></div>
  <div class="street-address">
    <i>{{store.address_1}}</i>
  </div>
  <div>
    <i>{{store.city}}, {{store.state}}</i>
  </div>
{{/if}}