<div class="hide-for-medium-up off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        {{partial 'main-nav'}}
      </ul>
    </aside>

    <section class="main-section">

      <div class="row mobile-header-margin">
        <div class="small-10 columns small-offset-1">
          {{#link-to "index"}}<img src="assets/img/logo/logo-long.svg">{{/link-to}}
        </div>
      </div>

      <div class="row small-collapse medium-collapse">
        <div class="small-12 columns">
          {{outlet}}
        </div>
      </div>

      {{partial "main-footer"}}

    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>


<div class="show-for-medium-up">
  <div class="row  row-margin header-margin">
    <div class="medium-3 columns">
      {{#link-to "index"}}<img src="assets/img/logo/logo-long.svg">{{/link-to}}
    </div>
    <div class="medium-9 columns show-for-medium-up">
      <nav role="navigation">
        <ul class="ssj-simple-nav">
          {{partial 'main-nav'}}
        </ul>
      </nav>
    </div>
  </div>

  <div class="row small-collapse medium-collapse">
    <div class="small-12 columns">
      {{outlet}}
    </div>
  </div>

  {{partial "main-footer"}}
</div>
