<hr>
{{input value=model.name}}
{{input value=model.address_1}}
{{input value=model.address_2}}
{{input value=model.city}}
{{input value=model.state}}
{{input value=model.zipcode}}
{{input value=model.url}}
<button {{action 'save' model}}>Save</button>
